<div class="center">
    <!-- <span class="p-float-label">
        <input id="username-input" type="text" pInputText> 
        <label for="username-input" id="username">Username</label>
    </span>

    <span class="p-float-label">
        <input id="password-input" type="text" pInputText> 
        <label for="password-input" id="password">Password</label>
    </span> -->

    <label class="control-label" for="username">Username: </label>
    <input type="login-input" placeholder="username" id="username" #username/>
    <br>
    <label class="control-label" for="password">Password: </label>
    <input type="login-input" placeholder="password" id="password" #password/>
    <br>
    <!-- <button class="button" id = "loginButton" (click)="login(username.value, password.value)">Login</button> -->
    <button pButton pRipple type="button" label="Login" (click)="login(username.value, password.value)"></button>
    <button pButton pRipple type="button" label="Logout" (click)="app.logout()"></button>
</div>