#asdf {
    right: 10%
}

a {
    text-decoration: none !important;
}

main {
    margin: 0 5%
}

#accordion {
    z-index: 1;
    position: absolute;
    top: 15%;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}